.tittle__weather {
	font-size: 3em;
	color: #90beea;
	font-weight: 400;
	display: flex;
	align-items: center;
	width: 100%;
	min-width: 340px;
	padding: 20px 0px;
}

.contend__search {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 15px 0px;
}

.card__weather--contend {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
    padding: 20px 0px;
}

.reload__btn{
	position: absolute;
	left: 50%;
	transform: translate(-50%,100%);
	top: 50%;
	background-color: #ffffff;
	color: #000;
	border-radius: 3em;
	padding: 10px 15px;
	border: none;
	outline: none;
	cursor: pointer;
}